/* This is a unique Css Sheet */

main {
    background-color: rgba(27, 27, 27, 0.767);
}

#knifeImg {
    background-image: url(../../template-parts/knife.png);
    width: 25%;
    height: 100px;
    background-size: auto;
    margin: auto;
}

.entry-header {
    color: red;
}

.post-thumbnail {
    box-shadow: white 2px 2px 10px;
    height: auto;
}

.has-green-background-color {
    padding: 5px;
    border: white solid 3px;
    border-radius: 10px;
}
.custom-logo-link {
    box-shadow: red 1px 1px 30px;
    border: white 1px solid;
}
.site-title {
    display: none;
    opacity: 0;
}
.site-description {
    font-size: 28px;
    font-weight: 600;
    font-family: Helvetica;
    background-color: rgba(255, 0, 0, 0.3);
    padding: 10px;
    text-align: center;

}
.entry-title {
    font-size: 30px;
    font-family: Helvetica;
}

.wp-block-quote {
    width: 100%;
    text-align: center;
}


.menu-item{
    color: red;
}
#primary-menu-list {
    border: white solid 1px;
}

/* .menu-wrapper {
    border: solid red 1px;

    
/* 
 */

.page-title {
    font-size: 40px;
    color: white;
    font-family: Helvetica;

}

.entry-date {
    color: red;
}

h4 {
    color: red;
}



figcaption {
    opacity: 0.7;
}
td {
    font-size: 18px;
    color: white;
    opacity: 0.8;
    padding: 5px;
    font-family: Helvetica-light;
}

.has-large-font-size {
    color: red;
    text-align: center;
    text-shadow: white 1px 1px 3px;
    font-size: 25px;
}
.blocks-gallery-item {
    border: solid red 1px;
    padding: 5px;
    width: 100%;
}

h5 {
    color: red;
    font-family: Helvetica-light;
    font-weight: 100;
    font-size: 30px;
}

